<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>data</title>
    <style>
      table{
        border-collapse: collapse;
      }
      td {
        border: solid 1px;
        padding: 0.5em;
      }
      .x {
        font-size: 150%;
      }
      
    </style>
  </head>
  <body>
    <h2>SteamAPIのてすと</h2>
    <!--<a href="/refresh">更新する</a>-->
    <table>
      <dev class="x">
        <tr>
          <td>Game</td>
          <td>Appid</td>
          <td>Playtime(2weeks)</td>
        </tr>
      </dev>
      <% @contents.each do |content| %>
        <tr>
          <td><%= content.name  %></td>
          <td><%= content.appid %></td>
          <td><%= content.playtime_2weeks %></td>
        </tr>
      <% end %>
    </table>
      <a href="/">もどる</a>
  </body>
</html>