<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
    </style>
  </head>
  <body>
    <h2>SteamAPIのてすと</h2>
    <form action="/user" method="post">
        <label for="contact_name">steam_id</label>
        <input type="text" name="steam_id" id="steam_id">
      <input type="submit">
    </form>
      <a href="/">もどる</a>
  </body>
</html>